EMktgSys.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>f226c7ed-0164-1000-61aa-021c8eb947ae</groupId>
    <name>EMktgSys</name>
    <snippet>
        <processGroups>
            <id>0421b68a-1f6e-353a-0000-000000000000</id>
            <parentGroupId>eb470f35-445b-3ec2-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <processGroups>
                    <id>19ef3abd-3247-3aa8-0000-000000000000</id>
                    <parentGroupId>0421b68a-1f6e-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>418.0000126908983</x>
                        <y>224.00000154922338</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>03e044fb-2244-33ab-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>42ab9667-b8ff-3c80-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>3449eb3c-7bbd-3df4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>0e4839af-a59d-33ae-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>185.8443675183055</x>
<y>617.8100028061388</y>
                            </bends>
                            <bends>
<x>185.8443675183055</x>
<y>667.8100028061388</y>
                            </bends>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>744f6b5c-5d07-34e5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>744f6b5c-5d07-34e5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>299b2b8e-6c06-34c8-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>cc4e9a43-63e5-360f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>42ab9667-b8ff-3c80-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>48ac0be7-2e4e-3c6c-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>e09e2d1f-8c49-31ff-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>cc4e9a43-63e5-360f-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>4adeb754-1dcc-3765-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>3449eb3c-7bbd-3df4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>75b98446-24d8-3233-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>57fe9fd4-63e1-30c9-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>667.9179988049266</x>
<y>824.9256033920763</y>
                            </bends>
                            <bends>
<x>667.9179988049266</x>
<y>874.9256033920763</y>
                            </bends>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>6a79a8dc-4916-3949-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>6a79a8dc-4916-3949-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>8638e027-0245-3565-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>75b98446-24d8-3233-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>matched</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>d505c561-2d49-3e65-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b2701007-6b1b-35b7-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>6a79a8dc-4916-3949-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>split</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>744f6b5c-5d07-34e5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>b5972e11-e1bf-34c6-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>744f6b5c-5d07-34e5-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>a4266592-af32-3dee-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e231909d-7bb4-3525-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>d505c561-2d49-3e65-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>19ef3abd-3247-3aa8-0000-000000000000</groupId>
<id>6a79a8dc-4916-3949-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>15d6ab44-04c8-33ac-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-record-serialization-services-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>schema-access-strategy</key>
    <value>
        <name>schema-access-strategy</name>
    </value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>
        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
        <name>schema-registry</name>
    </value>
</entry>
<entry>
    <key>schema-name</key>
    <value>
        <name>schema-name</name>
    </value>
</entry>
<entry>
    <key>schema-version</key>
    <value>
        <name>schema-version</name>
    </value>
</entry>
<entry>
    <key>schema-branch</key>
    <value>
        <name>schema-branch</name>
    </value>
</entry>
<entry>
    <key>schema-text</key>
    <value>
        <name>schema-text</name>
    </value>
</entry>
<entry>
    <key>schema-inference-cache</key>
    <value>
        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
        <name>schema-inference-cache</name>
    </value>
</entry>
<entry>
    <key>Date Format</key>
    <value>
        <name>Date Format</name>
    </value>
</entry>
<entry>
    <key>Time Format</key>
    <value>
        <name>Time Format</name>
    </value>
</entry>
<entry>
    <key>Timestamp Format</key>
    <value>
        <name>Timestamp Format</name>
    </value>
</entry>
                            </descriptors>
                            <name>DPE_JsonTreeReader</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>schema-access-strategy</key>
    <value>schema-name</value>
</entry>
<entry>
    <key>schema-registry</key>
    <value>37187285-e273-310a-0000-000000000000</value>
</entry>
<entry>
    <key>schema-name</key>
    <value>${schema.name}</value>
</entry>
<entry>
    <key>schema-version</key>
</entry>
<entry>
    <key>schema-branch</key>
</entry>
<entry>
    <key>schema-text</key>
    <value>${avro.schema}</value>
</entry>
<entry>
    <key>schema-inference-cache</key>
</entry>
<entry>
    <key>Date Format</key>
</entry>
<entry>
    <key>Time Format</key>
</entry>
<entry>
    <key>Timestamp Format</key>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.json.JsonTreeReader</type>
                        </controllerServices>
                        <controllerServices>
                            <id>37187285-e273-310a-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-registry-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>avro-reg-validated-field-names</key>
    <value>
        <name>avro-reg-validated-field-names</name>
    </value>
</entry>
<entry>
    <key>CRM</key>
    <value>
        <name>CRM</name>
    </value>
</entry>
                            </descriptors>
                            <name>DPE_AvroSchemaRegistry</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>avro-reg-validated-field-names</key>
    <value>false</value>
</entry>
<entry>
    <key>CRM</key>
    <value>{
  "type" : "record",
  "name" : "CRM",
  "doc" : "Schema generated by Kite",
  "fields" : [ {
    "name" : "First_Name",
    "type" : "string",
    "doc" : "Type inferred from ' ROZELL'"
  }, {
    "name" : "Last_Name",
    "type" : "string",
    "doc" : "Type inferred from 'COLEMAN '"
  }, {
    "name" : "Customer_ID",
    "type" : "string",
    "doc" : ""
  }, {
    "name" : "Adress",
    "type" : "string",
    "doc" : "Type inferred from '26 Silverweed Rd, Chatham ME5 0QU, UK'"
  }, {
    "name" : "Post_Code",
    "type" : "string",
    "doc" : "Type inferred from 'ME5 0QU'"
  }, {
    "name" : "DateofBirth",
    "type" : { "type":"int", "logicalType":"date"},
    "doc" : "Type inferred from '22144'"
  }, {
    "name" : "Sex",
    "type" : "string",
    "doc" : "Type inferred from 'Male'"
  }, {
    "name" : "Maritial_Status",
    "type" : "string",
    "doc" : "Type inferred from 'Married'"
  }, {
    "name" : "Phone_Number",
    "type" : "string",
    "doc" : "Type inferred from '(0189) 188871'"
  }, {
    "name" : "Email_address",
    "type" : "string",
    "doc" : "Type inferred from 'rozell@hotmail.com'"
  }, {
    "name" : "Permisssion_to_Contact",
    "type" : "string",
    "doc" : "Type inferred from 'Yes'"
  }, {
    "name" : "Policynumber",
    "type" : "long",
    "doc" : "Type inferred from '10333345'"
  }, {
    "name" : "PolicyType",
    "type" : "string",
    "doc" : "Type inferred from 'Renewable'"
  }, {
    "name" : "PolicyStatus",
    "type" : "string",
    "doc" : "Type inferred from 'Open'"
  }, {
    "name" : "ProspectStatus",
    "type" : "string",
    "doc" : "Type inferred from 'Active'"
  }, {
    "name" : "RenewalDate",
    "type" : [ "null",  { "type":"int", "logicalType":"date"} ],
    "doc" : "Type inferred from '43384'",
    "default" : null
  }, {
    "name" : "ClientManager",
    "type" : "string",
    "doc" : "Type inferred from 'SYTE'"
  }, {
    "name" : "TypeOfinsurance",
    "type" : "string",
    "doc" : "Type inferred from 'Life'"
  }, {
    "name" : "PropertyType",
    "type" : "string",
    "doc" : "Type inferred from 'Residential'"
  }, {
    "name" : "Vehicle_Number",
    "type" : "string",
    "doc" : "Type inferred from 'CR05 TON'"
  } ]
}
</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
                        </controllerServices>
                        <controllerServices>
                            <id>9f15c23d-cf12-3de0-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Database Connection URL</key>
    <value>
        <name>Database Connection URL</name>
    </value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>
        <name>Database Driver Class Name</name>
    </value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>
        <name>database-driver-locations</name>
    </value>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
        <name>kerberos-credentials-service</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>
        <name>Max Wait Time</name>
    </value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>
        <name>Max Total Connections</name>
    </value>
</entry>
<entry>
    <key>Validation-query</key>
    <value>
        <name>Validation-query</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>
        <name>dbcp-min-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>
        <name>dbcp-max-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>
        <name>dbcp-max-conn-lifetime</name>
    </value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>
        <name>dbcp-time-between-eviction-runs</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>
        <name>dbcp-min-evictable-idle-time</name>
    </value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>
        <name>dbcp-soft-min-evictable-idle-time</name>
    </value>
</entry>
                            </descriptors>
                            <name>ConnectToMariaDB</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Database Connection URL</key>
    <value>jdbc:mysql://172.17.0.1:3306/unity_demo</value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>com.mysql.jdbc.Driver</value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>file:///opt/nifi/nifi-current/lib/mysql-connector-java-8.0.16.jar</value>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
</entry>
<entry>
    <key>Database User</key>
    <value>pontus</value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>500 millis</value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>8</value>
</entry>
<entry>
    <key>Validation-query</key>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>0</value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>8</value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>30 mins</value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>-1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                        </controllerServices>
                        <processors>
                            <id>3449eb3c-7bbd-3df4-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-797.3427450761933</x>
<y>1077.0789679831532</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>42ab9667-b8ff-3c80-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-473.1030966282524</x>
<y>1296.4993480461176</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>pg_Address</key>
        <value>
            <name>pg_Address</name>
        </value>
    </entry>
    <entry>
        <key>pg_currDate</key>
        <value>
            <name>pg_currDate</name>
        </value>
    </entry>
    <entry>
        <key>pg_Customer_ID</key>
        <value>
            <name>pg_Customer_ID</name>
        </value>
    </entry>
    <entry>
        <key>pg_DateofBirth</key>
        <value>
            <name>pg_DateofBirth</name>
        </value>
    </entry>
    <entry>
        <key>pg_Email_address</key>
        <value>
            <name>pg_Email_address</name>
        </value>
    </entry>
    <entry>
        <key>pg_First_Name</key>
        <value>
            <name>pg_First_Name</name>
        </value>
    </entry>
    <entry>
        <key>pg_Last_Name</key>
        <value>
            <name>pg_Last_Name</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataController</key>
        <value>
            <name>pg_metadataController</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataGDPRStatus</key>
        <value>
            <name>pg_metadataGDPRStatus</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataLineage</key>
        <value>
            <name>pg_metadataLineage</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataLineageLocationTag</key>
        <value>
            <name>pg_metadataLineageLocationTag</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataLineageServerTag</key>
        <value>
            <name>pg_metadataLineageServerTag</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataProcessor</key>
        <value>
            <name>pg_metadataProcessor</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataRedaction</key>
        <value>
            <name>pg_metadataRedaction</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataStatus</key>
        <value>
            <name>pg_metadataStatus</name>
        </value>
    </entry>
    <entry>
        <key>pg_metadataVersion</key>
        <value>
            <name>pg_metadataVersion</name>
        </value>
    </entry>
    <entry>
        <key>pg_Nationality</key>
        <value>
            <name>pg_Nationality</name>
        </value>
    </entry>
    <entry>
        <key>pg_Post_Code</key>
        <value>
            <name>pg_Post_Code</name>
        </value>
    </entry>
    <entry>
        <key>pg_Sex</key>
        <value>
            <name>pg_Sex</name>
        </value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>
            <name>schema.name</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>pg_Address</key>
        <value>${Address}</value>
    </entry>
    <entry>
        <key>pg_currDate</key>
        <value>${now()}</value>
    </entry>
    <entry>
        <key>pg_Customer_ID</key>
        <value>${PartyID}</value>
    </entry>
    <entry>
        <key>pg_DateofBirth</key>
        <value>${DateOfBirth}</value>
    </entry>
    <entry>
        <key>pg_Email_address</key>
        <value>${Email}</value>
    </entry>
    <entry>
        <key>pg_First_Name</key>
        <value>${FirstName}</value>
    </entry>
    <entry>
        <key>pg_Last_Name</key>
        <value>${LastName}</value>
    </entry>
    <entry>
        <key>pg_metadataController</key>
        <value>abc inc</value>
    </entry>
    <entry>
        <key>pg_metadataGDPRStatus</key>
        <value>Personal</value>
    </entry>
    <entry>
        <key>pg_metadataLineage</key>
        <value>https://randomuser.me/api/?format=csv</value>
    </entry>
    <entry>
        <key>pg_metadataLineageLocationTag</key>
        <value>GB</value>
    </entry>
    <entry>
        <key>pg_metadataLineageServerTag</key>
        <value>GDPR-AWS-APP-SERVER</value>
    </entry>
    <entry>
        <key>pg_metadataProcessor</key>
        <value>cdf inc</value>
    </entry>
    <entry>
        <key>pg_metadataRedaction</key>
        <value>/org/dept/project/app</value>
    </entry>
    <entry>
        <key>pg_metadataStatus</key>
        <value>New</value>
    </entry>
    <entry>
        <key>pg_metadataVersion</key>
        <value>1</value>
    </entry>
    <entry>
        <key>pg_Nationality</key>
        <value>${CountryOfOrigin}</value>
    </entry>
    <entry>
        <key>pg_Post_Code</key>
        <value>${PostCode}</value>
    </entry>
    <entry>
        <key>pg_Sex</key>
        <value>${Sex}</value>
    </entry>
    <entry>
        <key>schema.name</key>
        <value>CRM</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Add Lineage and Metadata</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>6a79a8dc-4916-3949-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>212.91799880492658</x>
<y>784.9256033920763</y>
                            </position>
                            <bundle>
<artifact>nifi-avro-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JSON container options</key>
        <value>
            <name>JSON container options</name>
        </value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>
            <name>Wrap Single Record</name>
        </value>
    </entry>
    <entry>
        <key>Avro schema</key>
        <value>
            <name>Avro schema</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JSON container options</key>
        <value>none</value>
    </entry>
    <entry>
        <key>Wrap Single Record</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Avro schema</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>ConvertAvroToJSON</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.avro.ConvertAvroToJSON</type>
                        </processors>
                        <processors>
                            <id>744f6b5c-5d07-34e5-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-269.1556324816945</x>
<y>577.8100028061388</y>
                            </position>
                            <bundle>
<artifact>nifi-avro-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Split Strategy</key>
        <value>
            <name>Split Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Output Size</key>
        <value>
            <name>Output Size</name>
        </value>
    </entry>
    <entry>
        <key>Output Strategy</key>
        <value>
            <name>Output Strategy</name>
        </value>
    </entry>
    <entry>
        <key>Transfer Metadata</key>
        <value>
            <name>Transfer Metadata</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Split Strategy</key>
        <value>Record</value>
    </entry>
    <entry>
        <key>Output Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Output Strategy</key>
        <value>Datafile</value>
    </entry>
    <entry>
        <key>Transfer Metadata</key>
        <value>true</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>SplitAvro</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>split</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.avro.SplitAvro</type>
                        </processors>
                        <processors>
                            <id>75b98446-24d8-3233-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-794.6319803417955</x>
<y>833.6974065589988</y>
                            </position>
                            <bundle>
<artifact>nifi-update-attribute-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Delete Attributes Expression</key>
        <value>
            <name>Delete Attributes Expression</name>
        </value>
    </entry>
    <entry>
        <key>Store State</key>
        <value>
            <name>Store State</name>
        </value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
        <value>
            <name>Stateful Variables Initial Value</name>
        </value>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>
            <name>canonical-value-lookup-cache-size</name>
        </value>
    </entry>
    <entry>
        <key>Address</key>
        <value>
            <name>Address</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Delete Attributes Expression</key>
    </entry>
    <entry>
        <key>Store State</key>
        <value>Do not store state</value>
    </entry>
    <entry>
        <key>Stateful Variables Initial Value</key>
    </entry>
    <entry>
        <key>canonical-value-lookup-cache-size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Address</key>
        <value>${AddressLine1:append(', '):append(${City}):append(', '):append(${Country})}</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>UpdateAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                        </processors>
                        <processors>
                            <id>a4266592-af32-3dee-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-807.1499655351776</x>
<y>221.10504525366116</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>Database Connection Pooling Service</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>
            <name>db-fetch-db-type</name>
        </value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>
            <name>Table Name</name>
        </value>
    </entry>
    <entry>
        <key>Columns to Return</key>
        <value>
            <name>Columns to Return</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-where-clause</key>
        <value>
            <name>db-fetch-where-clause</name>
        </value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
        <value>
            <name>db-fetch-sql-query</name>
        </value>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>
            <name>Maximum-value Columns</name>
        </value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>
            <name>Max Wait Time</name>
        </value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>
            <name>Fetch Size</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>
            <name>qdbt-max-rows</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>
            <name>qdbt-output-batch-size</name>
        </value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>
            <name>qdbt-max-frags</name>
        </value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>
            <name>dbf-normalize</name>
        </value>
    </entry>
    <entry>
        <key>transaction-isolation-level</key>
        <value>
            <name>transaction-isolation-level</name>
        </value>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>
            <name>dbf-user-logical-types</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>
            <name>dbf-default-precision</name>
        </value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>
            <name>dbf-default-scale</name>
        </value>
    </entry>
</descriptors>
<executionNode>PRIMARY</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Database Connection Pooling Service</key>
        <value>9f15c23d-cf12-3de0-0000-000000000000</value>
    </entry>
    <entry>
        <key>db-fetch-db-type</key>
        <value>Generic</value>
    </entry>
    <entry>
        <key>Table Name</key>
        <value>full_party</value>
    </entry>
    <entry>
        <key>Columns to Return</key>
    </entry>
    <entry>
        <key>db-fetch-where-clause</key>
        <value>CountryOfOrigin &lt;&gt; 'IR'</value>
    </entry>
    <entry>
        <key>db-fetch-sql-query</key>
    </entry>
    <entry>
        <key>Maximum-value Columns</key>
        <value>PartyID</value>
    </entry>
    <entry>
        <key>Max Wait Time</key>
        <value>0 seconds</value>
    </entry>
    <entry>
        <key>Fetch Size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>qdbt-max-rows</key>
        <value>0</value>
    </entry>
    <entry>
        <key>qdbt-output-batch-size</key>
        <value>0</value>
    </entry>
    <entry>
        <key>qdbt-max-frags</key>
        <value>0</value>
    </entry>
    <entry>
        <key>dbf-normalize</key>
        <value>false</value>
    </entry>
    <entry>
        <key>transaction-isolation-level</key>
    </entry>
    <entry>
        <key>dbf-user-logical-types</key>
        <value>false</value>
    </entry>
    <entry>
        <key>dbf-default-precision</key>
        <value>10</value>
    </entry>
    <entry>
        <key>dbf-default-scale</key>
        <value>0</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>10 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>true</executionNodeRestricted>
                            <name>QueryDatabaseTable</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.QueryDatabaseTable</type>
                        </processors>
                        <processors>
                            <id>cc4e9a43-63e5-360f-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-48.77040950558319</x>
<y>1470.4421648664784</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>d505c561-2d49-3e65-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>-151.67634793465174</x>
<y>976.198285472215</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>AddressLine1</key>
        <value>
            <name>AddressLine1</name>
        </value>
    </entry>
    <entry>
        <key>City</key>
        <value>
            <name>City</name>
        </value>
    </entry>
    <entry>
        <key>Country</key>
        <value>
            <name>Country</name>
        </value>
    </entry>
    <entry>
        <key>CountryOfOrigin</key>
        <value>
            <name>CountryOfOrigin</name>
        </value>
    </entry>
    <entry>
        <key>County</key>
        <value>
            <name>County</name>
        </value>
    </entry>
    <entry>
        <key>DateOfBirth</key>
        <value>
            <name>DateOfBirth</name>
        </value>
    </entry>
    <entry>
        <key>Email</key>
        <value>
            <name>Email</name>
        </value>
    </entry>
    <entry>
        <key>FirstName</key>
        <value>
            <name>FirstName</name>
        </value>
    </entry>
    <entry>
        <key>LastName</key>
        <value>
            <name>LastName</name>
        </value>
    </entry>
    <entry>
        <key>MobilePhone</key>
        <value>
            <name>MobilePhone</name>
        </value>
    </entry>
    <entry>
        <key>PartyID</key>
        <value>
            <name>PartyID</name>
        </value>
    </entry>
    <entry>
        <key>PostCode</key>
        <value>
            <name>PostCode</name>
        </value>
    </entry>
    <entry>
        <key>Sex</key>
        <value>
            <name>Sex</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>AddressLine1</key>
        <value>$.AddressLine1</value>
    </entry>
    <entry>
        <key>City</key>
        <value>$.City</value>
    </entry>
    <entry>
        <key>Country</key>
        <value>$.Country</value>
    </entry>
    <entry>
        <key>CountryOfOrigin</key>
        <value>$.CountryOfOrigin</value>
    </entry>
    <entry>
        <key>County</key>
        <value>$.County</value>
    </entry>
    <entry>
        <key>DateOfBirth</key>
        <value>$.DateOfBirth</value>
    </entry>
    <entry>
        <key>Email</key>
        <value>$.Email</value>
    </entry>
    <entry>
        <key>FirstName</key>
        <value>$.FirstName</value>
    </entry>
    <entry>
        <key>LastName</key>
        <value>$.LastName</value>
    </entry>
    <entry>
        <key>MobilePhone</key>
        <value>$.MobilePhone</value>
    </entry>
    <entry>
        <key>PartyID</key>
        <value>$.PartyID</value>
    </entry>
    <entry>
        <key>PostCode</key>
        <value>$.PostCode</value>
    </entry>
    <entry>
        <key>Sex</key>
        <value>$.Sex</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>e09e2d1f-8c49-31ff-0000-000000000000</id>
                            <parentGroupId>19ef3abd-3247-3aa8-0000-000000000000</parentGroupId>
                            <position>
<x>126.10141197346093</x>
<y>1712.6400389396765</y>
                            </position>
                            <bundle>
<artifact>nifi-pontus-gremlin-processor-nar</artifact>
<group>default</group>
<version>unversioned</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Tinkerpop Embedded Server</key>
        <value>
            <name>Tinkerpop Embedded Server</name>
        </value>
    </entry>
    <entry>
        <key>Tinkerpop Client configuration URI</key>
        <value>
            <name>Tinkerpop Client configuration URI</name>
        </value>
    </entry>
    <entry>
        <key>Tinkerpop Query</key>
        <value>
            <name>Tinkerpop Query</name>
        </value>
    </entry>
    <entry>
        <key>ClientTimeoutInSeconds</key>
        <value>
            <name>ClientTimeoutInSeconds</name>
        </value>
    </entry>
    <entry>
        <key>Tinkerpop query parameter prefix</key>
        <value>
            <name>Tinkerpop query parameter prefix</name>
        </value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>
            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
            <name>record-reader</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Tinkerpop Embedded Server</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Tinkerpop Client configuration URI</key>
        <value>file:///opt/nifi/nifi-current/conf/client.yml</value>
    </entry>
    <entry>
        <key>Tinkerpop Query</key>
        <value>def rulesStr = '''

{
  "updatereq":
  {

    "vertices":
	[
	  {
		"label": "Person"
	   ,"props":
		[
		  {
			"name": "Person.Full_Name"
		   ,"val": "${pg_First_Name?.toUpperCase()?.trim()} ${pg_Last_Name?.toUpperCase()?.trim()}"
		   ,"predicate": "eq"
		   ,"mandatoryInSearch": true
		  }
		 ,{
			"name": "Person.Full_Name_fuzzy"
		   ,"val": "${pg_First_Name?.toUpperCase()?.trim()} ${pg_Last_Name?.toUpperCase()?.trim()}"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Person.Last_Name"
		   ,"val": "${pg_Last_Name?.toUpperCase()?.trim()}"
		   ,"mandatoryInSearch": true
		  }
		 ,{
			"name": "Person.Date_Of_Birth"
		   ,"val": "${pg_DateofBirth}"
		   ,"type": "java.util.Date"
		   ,"mandatoryInSearch": true
		  }
		 ,{
			"name": "Person.Gender"
		   ,"val": "${pg_Sex.toUpperCase()}"
		  }
		 ,{
			"name": "Person.Customer_ID"
		   ,"val": "${pg_Customer_ID}"
		   ,"mandatoryInSearch": true

		  }
		 ,{
			"name": "Person.Title"
		   ,"val": "${'MALE' == pg_Sex.toUpperCase()? 'MR':'MS'}"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Person.Nationality"
		   ,"val": "${pg_Nationality}"
		   ,"excludeFromSearch": true
		  }

		]
	  }
	  ,{
		"label": "Location.Address"
	   ,"props":
	    [
	      {
	    	"name": "Location.Address.Full_Address"
	       ,"val": "${pg_Address}"
		   ,"mandatoryInSearch": true

	      }
	     ,{
	    	"name": "Location.Address.parser.postcode"
	       ,"val": "${com.pontusvision.utils.PostCode.format(pg_Post_Code)}"
		   ,"mandatoryInSearch": true

	      }
	     ,{
	    	"name": "Location.Address.parser"
	       ,"val": "${pg_Address}"
		   ,"excludeFromSearch": true
		   ,"type": "com.pontusvision.utils.LocationAddress"

	      }
	     ,{
	    		"name": "Location.Address.Post_Code"
	       ,"val": "${com.pontusvision.utils.PostCode.format(pg_Post_Code)}"
	       ,"excludeFromSearch": true
	      }
	    ]

	  }
	 ,{
		"label": "Object.Email_Address"
		,"props":
		[
		  {
			"name": "Object.Email_Address.Email"
		   ,"val": "${pg_Email_address}"
		   ,"mandatoryInSearch": true

		  }
		]

	  }
	 ,{
		"label": "Event.Ingestion.Group"
	   ,"props":
		[
		  {
			"name": "Event.Ingestion.Group.Metadata_Start_Date"
		   ,"val": "${pg_currDate}"
		   ,"mandatoryInSearch": true
		   ,"excludeFromSearch": false
		   ,"type": "java.util.Date"
		  }
		 ,{
			"name": "Event.Ingestion.Group.Metadata_End_Date"
		   ,"val": "${new Date()}"
		   ,"excludeFromSearch": true
		   ,"type": "java.util.Date"
		  }

		 ,{
			"name": "Event.Ingestion.Group.Type"
		   ,"val": "CRM System CSV File"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Event.Ingestion.Group.Operation"
		   ,"val": "Structured Data Insertion"
		   ,"excludeFromSearch": true
		  }
	   
		]
	  }
	 ,{
		"label": "Event.Ingestion"
	   ,"props":
		[
		  {
			"name": "Event.Ingestion.Type"
		   ,"val": "Testing CRM Model"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Event.Ingestion.Operation"
		   ,"val": "Structured Data Insertion"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Event.Ingestion.Domain_b64"
		   ,"val": "${original_request?.bytes?.encodeBase64()?.toString()}"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Event.Ingestion.Metadata_Create_Date"
		   ,"val": "${new Date()}"
		   ,"excludeFromSearch": true
		   ,"type": "java.util.Date"
		  }
	   
		]
	  }

	  ,{
		"label": "Event.Consent"
	   ,"props":
		[
		  {
			"name": "Event.Consent.Status"
		   ,"val": "${pg_Permisssion_to_Contact?'Consent': 'No Consent'}"
		   ,"excludeFromSearch": true
		  }
		 ,{
			"name": "Event.Consent.Date"
		   ,"val": "${new Date()}"
		   ,"excludeFromSearch": true
		   ,"type": "java.util.Date"

		  }
	   
		]
	  }
	   ,{
		"label": "Object.Privacy_Notice"
	   ,"props":
		[
		  {
			"name": "Object.Privacy_Notice.Who_Is_Collecting"
		   ,"val": "[CRM System]"
		   ,"excludeFromUpdate": true
		  }	   
		]
	  } 

	]
   ,"edges":
    [
      { "label": "Uses_Email", "fromVertexLabel": "Person", "toVertexLabel": "Object.Email_Address" }
     ,{ "label": "Lives", "fromVertexLabel": "Person", "toVertexLabel": "Location.Address"  }
     ,{ "label": "Has_Ingestion_Event", "fromVertexLabel": "Person", "toVertexLabel": "Event.Ingestion"  }
     ,{ "label": "Has_Ingestion_Event", "fromVertexLabel": "Event.Ingestion.Group", "toVertexLabel": "Event.Ingestion"  }
     ,{ "label": "Consent", "fromVertexLabel": "Person", "toVertexLabel": "Event.Consent"  }
     ,{ "label": "Has_Privacy_Notice", "fromVertexLabel": "Event.Consent", "toVertexLabel": "Object.Privacy_Notice"  }
	 
    ]
  }
}
'''
StringBuffer sb = new StringBuffer ()

try{
    ingestRecordListUsingRules(graph, g, listOfMaps, rulesStr, sb)
}
catch (Throwable t){
    String stackTrace = org.apache.commons.lang.exception.ExceptionUtils.getStackTrace(t)

    sb.append("\n$t\n$stackTrace")
    throw new Throwable (sb.toString())


}
sb.toString()
</value>
    </entry>
    <entry>
        <key>ClientTimeoutInSeconds</key>
        <value>20</value>
    </entry>
    <entry>
        <key>Tinkerpop query parameter prefix</key>
        <value>pg_</value>
    </entry>
    <entry>
        <key>record-reader</key>
        <value>15d6ab44-04c8-33ac-0000-000000000000</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>Add Customer Records</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>com.pontusvision.nifi.processors.PontusTinkerPopClientRecordBulk</type>
                        </processors>
                    </contents>
                    <name>Ingestion Email Marketing System</name>
                    <variables/>
                </processGroups>
                <processGroups>
                    <id>2159da84-c69e-32b8-0000-000000000000</id>
                    <parentGroupId>0421b68a-1f6e-353a-0000-000000000000</parentGroupId>
                    <position>
                        <x>-30.5</x>
                        <y>228.5</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>5372c4dd-aab2-3a4b-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>9e2b3430-7495-3ab1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <selectedRelationships>matched</selectedRelationships>
                            <selectedRelationships>unmatched</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>c68d940b-d46d-37d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>6ba697f2-6ac1-364c-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>009a75a5-3304-3b3d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>9e2b3430-7495-3ab1-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>94dddf61-1454-3dc9-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <bends>
<x>1078.5000126908983</x>
<y>620.5000015492234</y>
                            </bends>
                            <bends>
<x>1078.5000126908983</x>
<y>670.5000015492234</y>
                            </bends>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>009a75a5-3304-3b3d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>retry</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>009a75a5-3304-3b3d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>9d0e9e99-2c58-3d6a-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>f74b9d82-0288-33df-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>Failure</selectedRelationships>
                            <selectedRelationships>No Retry</selectedRelationships>
                            <selectedRelationships>Original</selectedRelationships>
                            <selectedRelationships>Response</selectedRelationships>
                            <selectedRelationships>Retry</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>f46fd7c7-3903-344a-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bf4deef2-eab4-34e3-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>c68d940b-d46d-37d4-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>f74b9d82-0288-33df-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>e6eebe21-52ce-3b3a-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>9a05dbd0-801d-3241-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>2159da84-c69e-32b8-0000-000000000000</groupId>
<id>009a75a5-3304-3b3d-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <controllerServices>
                            <id>dd6330bf-cc53-383a-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <bundle>
<artifact>nifi-dbcp-service-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <comments></comments>
                            <descriptors>
<entry>
    <key>Database Connection URL</key>
    <value>
        <name>Database Connection URL</name>
    </value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>
        <name>Database Driver Class Name</name>
    </value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>
        <name>database-driver-locations</name>
    </value>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
    <value>
        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
        <name>kerberos-credentials-service</name>
    </value>
</entry>
<entry>
    <key>Database User</key>
    <value>
        <name>Database User</name>
    </value>
</entry>
<entry>
    <key>Password</key>
    <value>
        <name>Password</name>
    </value>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>
        <name>Max Wait Time</name>
    </value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>
        <name>Max Total Connections</name>
    </value>
</entry>
<entry>
    <key>Validation-query</key>
    <value>
        <name>Validation-query</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>
        <name>dbcp-min-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>
        <name>dbcp-max-idle-conns</name>
    </value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>
        <name>dbcp-max-conn-lifetime</name>
    </value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>
        <name>dbcp-time-between-eviction-runs</name>
    </value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>
        <name>dbcp-min-evictable-idle-time</name>
    </value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>
        <name>dbcp-soft-min-evictable-idle-time</name>
    </value>
</entry>
                            </descriptors>
                            <name>MariaDB Connect</name>
                            <persistsState>false</persistsState>
                            <properties>
<entry>
    <key>Database Connection URL</key>
    <value>jdbc:mysql://172.17.0.1:3306/unity_demo</value>
</entry>
<entry>
    <key>Database Driver Class Name</key>
    <value>com.mysql.jdbc.Driver</value>
</entry>
<entry>
    <key>database-driver-locations</key>
    <value>file:///opt/nifi/nifi-current/lib/mysql-connector-java-8.0.16.jar</value>
</entry>
<entry>
    <key>kerberos-credentials-service</key>
</entry>
<entry>
    <key>Database User</key>
    <value>pontus</value>
</entry>
<entry>
    <key>Password</key>
</entry>
<entry>
    <key>Max Wait Time</key>
    <value>500 millis</value>
</entry>
<entry>
    <key>Max Total Connections</key>
    <value>8</value>
</entry>
<entry>
    <key>Validation-query</key>
    <value>show tables;</value>
</entry>
<entry>
    <key>dbcp-min-idle-conns</key>
    <value>0</value>
</entry>
<entry>
    <key>dbcp-max-idle-conns</key>
    <value>8</value>
</entry>
<entry>
    <key>dbcp-max-conn-lifetime</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-time-between-eviction-runs</key>
    <value>-1</value>
</entry>
<entry>
    <key>dbcp-min-evictable-idle-time</key>
    <value>30 mins</value>
</entry>
<entry>
    <key>dbcp-soft-min-evictable-idle-time</key>
    <value>-1</value>
</entry>
                            </properties>
                            <state>ENABLED</state>
                            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                        </controllerServices>
                        <processors>
                            <id>009a75a5-3304-3b3d-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>615.5000126908983</x>
<y>580.5000015492234</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>
            <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
            <name>JDBC Connection Pool</name>
        </value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>
            <name>putsql-sql-statement</name>
        </value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>
            <name>Support Fragmented Transactions</name>
        </value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>
            <name>database-session-autocommit</name>
        </value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
        <value>
            <name>Transaction Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>
            <name>Obtain Generated Keys</name>
        </value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>
            <name>rollback-on-failure</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>JDBC Connection Pool</key>
        <value>dd6330bf-cc53-383a-0000-000000000000</value>
    </entry>
    <entry>
        <key>putsql-sql-statement</key>
        <value>INSERT INTO unity_demo.stg_api (
PartyDofbirth, 
PartyFname, 
PartyLname, 
PartyGender, 
PartyNationality, 
AddressCity, 
AddressPostcode, 
AddressState, 
AddressStreet, 
ContactEmail, 
ContactMobile, 
ContactPhone
)
VALUES (
'${input.party_dofbirth}',
'${input.party_fname}',
'${input.party_lname}',
'${input.party_gender}',
'${input.party_nationality}',
'${input.address_city}',
'${input.address_postcode}',
'${input.address_state}',
'${input.address_street}',
'${input.contact_email}',
'${input.contact_mobile}',
'${input.contact_phone}'
);
</value>
    </entry>
    <entry>
        <key>Support Fragmented Transactions</key>
        <value>true</value>
    </entry>
    <entry>
        <key>database-session-autocommit</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Transaction Timeout</key>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>100</value>
    </entry>
    <entry>
        <key>Obtain Generated Keys</key>
        <value>false</value>
    </entry>
    <entry>
        <key>rollback-on-failure</key>
        <value>false</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PutSQL</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.PutSQL</type>
                        </processors>
                        <processors>
                            <id>9a05dbd0-801d-3241-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>995.0</x>
<y>830.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>true</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>9e2b3430-7495-3ab1-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>608.0</x>
<y>358.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>c68d940b-d46d-37d4-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>178.0</x>
<y>356.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Destination</key>
        <value>
            <name>Destination</name>
        </value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>
            <name>Return Type</name>
        </value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>
            <name>Path Not Found Behavior</name>
        </value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>
            <name>Null Value Representation</name>
        </value>
    </entry>
    <entry>
        <key>input.address_city</key>
        <value>
            <name>input.address_city</name>
        </value>
    </entry>
    <entry>
        <key>input.address_postcode</key>
        <value>
            <name>input.address_postcode</name>
        </value>
    </entry>
    <entry>
        <key>input.address_state</key>
        <value>
            <name>input.address_state</name>
        </value>
    </entry>
    <entry>
        <key>input.address_street</key>
        <value>
            <name>input.address_street</name>
        </value>
    </entry>
    <entry>
        <key>input.contact_email</key>
        <value>
            <name>input.contact_email</name>
        </value>
    </entry>
    <entry>
        <key>input.contact_mobile</key>
        <value>
            <name>input.contact_mobile</name>
        </value>
    </entry>
    <entry>
        <key>input.contact_phone</key>
        <value>
            <name>input.contact_phone</name>
        </value>
    </entry>
    <entry>
        <key>input.party_dofbirth</key>
        <value>
            <name>input.party_dofbirth</name>
        </value>
    </entry>
    <entry>
        <key>input.party_fname</key>
        <value>
            <name>input.party_fname</name>
        </value>
    </entry>
    <entry>
        <key>input.party_gender</key>
        <value>
            <name>input.party_gender</name>
        </value>
    </entry>
    <entry>
        <key>input.party_lname</key>
        <value>
            <name>input.party_lname</name>
        </value>
    </entry>
    <entry>
        <key>input.party_nationality</key>
        <value>
            <name>input.party_nationality</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Destination</key>
        <value>flowfile-attribute</value>
    </entry>
    <entry>
        <key>Return Type</key>
        <value>auto-detect</value>
    </entry>
    <entry>
        <key>Path Not Found Behavior</key>
        <value>ignore</value>
    </entry>
    <entry>
        <key>Null Value Representation</key>
        <value>empty string</value>
    </entry>
    <entry>
        <key>input.address_city</key>
        <value>results.[0].location.city</value>
    </entry>
    <entry>
        <key>input.address_postcode</key>
        <value>results.[0].location.postcode</value>
    </entry>
    <entry>
        <key>input.address_state</key>
        <value>results.[0].location.state</value>
    </entry>
    <entry>
        <key>input.address_street</key>
        <value>results.[0].location.street</value>
    </entry>
    <entry>
        <key>input.contact_email</key>
        <value>results.[0].email</value>
    </entry>
    <entry>
        <key>input.contact_mobile</key>
        <value>results.[0].cell</value>
    </entry>
    <entry>
        <key>input.contact_phone</key>
        <value>results.[0].phone</value>
    </entry>
    <entry>
        <key>input.party_dofbirth</key>
        <value>results.[0].dob.date</value>
    </entry>
    <entry>
        <key>input.party_fname</key>
        <value>results.[0].name.first</value>
    </entry>
    <entry>
        <key>input.party_gender</key>
        <value>results.[0].gender</value>
    </entry>
    <entry>
        <key>input.party_lname</key>
        <value>results.[0].name.last</value>
    </entry>
    <entry>
        <key>input.party_nationality</key>
        <value>results.[0].nat</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>EvaluateJsonPath</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>matched</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>unmatched</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                        </processors>
                        <processors>
                            <id>f46fd7c7-3903-344a-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>167.0</x>
<y>-22.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>HTTP Method</key>
        <value>
            <name>HTTP Method</name>
        </value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>
            <name>Remote URL</name>
        </value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>SSL Context Service</name>
        </value>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>
            <name>Connection Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>
            <name>Read Timeout</name>
        </value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>
            <name>Include Date Header</name>
        </value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>
            <name>Follow Redirects</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
        <value>
            <name>Attributes to Send</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
        <value>
            <name>Basic Authentication Username</name>
        </value>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
        <value>
            <name>Basic Authentication Password</name>
        </value>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
            <name>proxy-configuration-service</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Host</key>
        <value>
            <name>Proxy Host</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Port</key>
        <value>
            <name>Proxy Port</name>
        </value>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>
            <name>Proxy Type</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
        <value>
            <name>invokehttp-proxy-user</name>
        </value>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
        <value>
            <name>invokehttp-proxy-password</name>
        </value>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
        <value>
            <name>Put Response Body In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>
            <name>Max Length To Put In Attribute</name>
        </value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>
            <name>Digest Authentication</name>
        </value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>
            <name>Always Output Response</name>
        </value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
        <value>
            <name>Trusted Hostname</name>
        </value>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>
            <name>Add Response Headers to Request</name>
        </value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>
            <name>Content-Type</name>
        </value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>
            <name>send-message-body</name>
        </value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>
            <name>Use Chunked Encoding</name>
        </value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>
            <name>Penalize on "No Retry"</name>
        </value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>
            <name>use-etag</name>
        </value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>
            <name>etag-max-cache-size</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>HTTP Method</key>
        <value>GET</value>
    </entry>
    <entry>
        <key>Remote URL</key>
        <value>https://randomuser.me/api/?format=json</value>
    </entry>
    <entry>
        <key>SSL Context Service</key>
    </entry>
    <entry>
        <key>Connection Timeout</key>
        <value>10 secs</value>
    </entry>
    <entry>
        <key>Read Timeout</key>
        <value>15 secs</value>
    </entry>
    <entry>
        <key>Include Date Header</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Follow Redirects</key>
        <value>True</value>
    </entry>
    <entry>
        <key>Attributes to Send</key>
    </entry>
    <entry>
        <key>Basic Authentication Username</key>
    </entry>
    <entry>
        <key>Basic Authentication Password</key>
    </entry>
    <entry>
        <key>proxy-configuration-service</key>
    </entry>
    <entry>
        <key>Proxy Host</key>
    </entry>
    <entry>
        <key>Proxy Port</key>
    </entry>
    <entry>
        <key>Proxy Type</key>
        <value>http</value>
    </entry>
    <entry>
        <key>invokehttp-proxy-user</key>
    </entry>
    <entry>
        <key>invokehttp-proxy-password</key>
    </entry>
    <entry>
        <key>Put Response Body In Attribute</key>
    </entry>
    <entry>
        <key>Max Length To Put In Attribute</key>
        <value>256</value>
    </entry>
    <entry>
        <key>Digest Authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Always Output Response</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Trusted Hostname</key>
    </entry>
    <entry>
        <key>Add Response Headers to Request</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Content-Type</key>
        <value>application/json</value>
    </entry>
    <entry>
        <key>send-message-body</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Use Chunked Encoding</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Penalize on "No Retry"</key>
        <value>false</value>
    </entry>
    <entry>
        <key>use-etag</key>
        <value>false</value>
    </entry>
    <entry>
        <key>etag-max-cache-size</key>
        <value>10MB</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>30 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>30 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>InvokeHTTP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>No Retry</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Original</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Response</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>Retry</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.InvokeHTTP</type>
                        </processors>
                        <processors>
                            <id>f74b9d82-0288-33df-0000-000000000000</id>
                            <parentGroupId>2159da84-c69e-32b8-0000-000000000000</parentGroupId>
                            <position>
<x>178.0</x>
<y>166.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.9.2</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>true</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                    </contents>
                    <name>RandomUserMe Ingestion</name>
                    <variables/>
                </processGroups>
            </contents>
            <name>Demo G2</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/07/2019 14:59:32 UTC</timestamp>
</template>
